* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}
.product {
  border: 5px solid black;
  width: 825px;
  margin: 20px auto;
}
.prod-name {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: lightgray;
  padding: 10px;
  position: relative;
}
.prod-name::before {
  content: "SALE";
  font-size: 15px;
  color: white;
  background-color: red;
  padding: 6px 12px;
  position: absolute;
  top: -18px;
  left: -30px;
}
.price-tag {
  font-size: 24px;
  margin-bottom: 10px;
}
.shipping-tag {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 10px;
}
.info {
  display: inline-block;
  margin-bottom: 10px;
}
.info:link,
.info:visited {
  color: black;
}
.info:hover,
.info:active {
  text-decoration: none;
}
.detailed-title {
  text-transform: uppercase;
  font-size: 16px;
}
.detailed-list {
  margin-left: 40px;
  list-style: square;
}
.detailed-list li {
  margin-bottom: 5px;
}
.add-cart {
  background-color: #000;
  border-top: 4px solid black;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px;
  width: 100%;
}
.add-cart:hover {
  color: #000;
  background-color: #fff;
}

.colors {
  margin: 10px 0;
}

.color-button {
  height: 25px;
  width: 25px;
  border-radius: 0%;
  border: 1px solid black;
  display: inline-block;
  margin-left: 10px;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.color-button#color-0 {
  background-color: black;
}
.color-button#color-1 {
  background-color: red;
}
.color-button#color-2 {
  background-color: blue;
}
.color-button#color-3 {
  background-color: green;
}
.color-button#color-4 {
  background-color: yellow;
}
.color-button#color-5 {
  background-color: purple;
}
